@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");

* {
  margin: 0 auto;
  padding: 0 auto;
  font-style: "Forum";
  transition: 0.3s;
}
body {
  margin: 0;
  font-family: "Forum", cursive;
}
.scrolling {
  transition: transform 0.5s ease-in-out;
}

/* header */

header {
  max-width: 70%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: "Forum";
}
.header_up {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 25px;
}
.logo_header_container {
  display: flex;
  align-items: center;
}
.logo_header_container p {
  font-size: 40px;
  margin-left: 18px;
}
.contact_info_header {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.adress_header {
  margin: 0px;
}
.adress_header span {
  font-size: 18px;
}
.adress_header p {
  font-size: 16px;
  color: #7c7c7c;
  margin-left: 10%;
  cursor: pointer;
}
.phone_number_header {
  margin-left: 4px;
  margin-top: 18px;
}
.phone_number_header span {
  font-size: 20px;
  margin-left: 11px;
}
.phone_number_header p {
  font-size: 16px;
  margin-left: 30px;
}
.working_hours_header {
  display: flex;
}
.time_working_header {
  margin-left: 6px;
}
.time_working_header p {
  margin-bottom: 6px;
}
.make_appointment_header {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.make_appointment_header-btn {
  width: 160px;
  height: 40px;
  background-color: #dbc88d;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-family: Forum;
  font-weight: 400;
  cursor: pointer;
}
.make_appointment_header-btn:hover {
  background-color: #b9982a;
}
.make_appointment_header-call {
  color: #7c7c7c;
  text-decoration-line: underline;
  font-size: 12px;
  cursor: pointer;
  background: none;
  border: none;
}
.make_appointment_header-call:hover {
  color: #3a3939;
}
.header_hr {
  width: 90%;
  color: #7c7c7c;
}
.header_down {
  width: 90%;
  display: flex;
  align-items: center;
  margin: 25px;
}
.logo_header_container-down {
  display: flex;
  align-items: center;
  margin-left: 0px;
}
.logo_header_container-down p {
  margin-left: 12px;
  font-size: 22px;
}
.toolbar {
  display: flex;
  gap: 50px;
  margin-right: 0px;
}
.toolbar a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  position: relative;
  font-style: Forum;
}
.toolbar a:hover {
  color: black;
}
.toolbar a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.toolbar a:hover::before {
  transform: scaleX(1);
}

/* index */

.choose_is_index {
  display: flex;
  flex-direction: column;
  width: 64%;
  margin-top: 85px;
}
.cap_choose {
  margin-left: 0px;
}
.cap_choose span {
  font-size: 40px;
  font-family: Forum;
}
.content_choose {
  width: 100%;
}
.content_choose_up {
  display: flex;
  margin-top: 59px;
  align-items: center;
}
.content_choose_up img {
  margin: 0px;
}
.content_choose_up span {
  font-size: 20px;
  width: 288px;
  margin-left: 24px;
  margin-right: 7%;
}

.slider-container {
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 550px;
}

.slide {
  flex: 0 0 100%;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  justify-content: center;
}
.slide1 {
  background-image: url(img/slide1.png);
}
.slide2 {
  background-image: url(img/slide2.png);
}
.slide3 {
  background-image: url(img/slide3.png);
}
.slide4 {
  background-image: url(img/slide4.svg);
}
.slide5 {
  background-image: url(img/slide5.svg);
}
.slide p {
  max-width: 500px;
  text-align: left;
  margin-left: 100px;
  font-style: Forum;
}
.title_slide {
  font-size: 40px;
}
.content_slide {
  font-size: 24px;
}
.make_appointment_slide {
  margin-left: 100px;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  background: none;
  color: transparent;
  border: none;
  cursor: pointer;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #dbc88d;
  cursor: pointer;
}

.dot.active {
  background-color: #534c38;
}

.services_index {
  margin-top: 100px;
  width: 65%;
  min-height: 500px;
}
.service_content {
  display: flex;
  flex-wrap: wrap;
}
.cart_service {
  width: 30%;
  height: 200px;
  background-color: #f2e9cf;
  border-radius: 10px;
  border: none;
  margin-top: 36px;
  margin-left: 0px;
  display: flex;
  overflow: hidden;
}

.cart_service:hover {
  background-position: 100% 0;
}

.img_cart {
  max-height: 200px;
  margin-left: 0px;
  margin-right: 0px;
}

.content_cart {
  margin-left: 23px;
  display: grid;
  align-items: center;
}

.content_cart p {
  margin-top: 43px;
  font-family: "Forum";
  font-size: 28px;
}

.content_cart img {
  margin-left: 0px;
  cursor: pointer;
  transition: margin-left 0.3s ease;
}

.cart_service:hover .content_cart img {
  margin-left: 10px;
}

.slider_news_index {
  width: 100%;
  min-height: 620px;
  background-color: #b9e6ff;
  margin-top: 100px;
}
.title_slider_news {
  width: 65%;
  padding-top: 84px;
}
.content_slider_news {
  width: 65%;
  display: flex;
}

.block_slider_news {
  margin-top: 48px;
  margin-bottom: 30px;
  width: 256px;
  height: 292px;
  background-color: white;
  border-radius: 10px;
  border: none;
  margin-left: 0px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
}

.title_block_slider-news {
  margin: 25px;
  font-size: 16px;
  font-family: "Gothic A1";
  margin-bottom: 0px;
}
.content_block_slider-news {
  margin: 25px;
  margin-top: 5px;
  font-size: 14px;
  font-family: "Gothic A1";
  margin-bottom: 10px;
}
.block_slider_news a {
  margin-left: 25px;
  margin-top: auto;
  margin-bottom: 10px;
}
.slider2 {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 400px;
}
.title_slider_news a {
  color: #7c7c7c;
  margin-left: 20px;
}
.btn_slider2 {
  background: none;
  border: none;
  cursor: pointer;
}
.btn_slider2 button {
  cursor: pointer;
}
.btn_slider2:hover {
  transform: scale(1.3);
}

.slider_choose {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 25px;
}

.big-slide img {
  width: 1100px;
  height: 600px;
}

.small-slides {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 40px;
}

.small-slide {
  width: 150px;
  height: 150px;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.small-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Сохранение пропорций изображения с обрезкой, чтобы оно полностью заполняло контейнер */
}

.small-slide.active {
  opacity: 0.7; /* Прозрачность активного маленького слайда */
}

.slider-reviews {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.rewievs_index {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 65%;
  margin-bottom: 100px;
}

.title_reviews_index {
  margin-left: 0px;
}

.cap_choose span {
  margin-left: 10px;
}

.content_reviews_index {
  display: flex;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  gap: 70px;
}

.title_reviews_index a {
  margin-left: 25px;
  color: #3a3939;
}

.content_reviews_index {
  margin-top: 15px;
  display: flex;
  height: 250px;
  margin-bottom: 50px;
  width: max-content; /* Добавлено: ширина контейнера не превышает ширину содержимого */
}

.reviews_block_index {
  width: 350px;
  height: auto;
  max-height: 230px;
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 20px;
}
.reviews_block_index p {
  margin-left: 20px;
  margin-top: 10px;
}
.rating {
  margin-top: 5px;
  margin-left: 20px;
}
.rating p {
  margin: 0px;
  max-width: 310px;
}

.star {
  background-image: url(img/star.svg);
  width: 15px;
}
.active_star {
  background-image: url(img/active_star.svg);
  width: 15px;
}

.team_section {
  width: 100%;
}
.team_section img {
  width: 100%;
}

footer {
  display: flex;
  width: 100%;
}
.info_footer {
  margin-top: 80px;
}

.map_footer {
  margin: 80px;
}

.info_footer_up {
  display: flex;
  width: 500px;
}
.number_footer {
  display: grid;
  margin-top: 60px;
  margin-left: 0px;
}
.number_footer span {
  font-size: 24px;
  margin-bottom: 20px;
  margin-left: 0px;
}
.number_footer p {
  font-size: 18px;
  color: #7c7c7c;
  margin-left: 0px;
}

.working_footer {
  margin-top: 60px;
  margin-right: 0px;
}
.working_footer span {
  font-size: 24px;
  margin-bottom: 20px;
  margin-left: 0px;
}
.content_working_footer {
  margin-top: 20px;
}
.content_working_footer p {
  font-size: 18px;
  color: #7c7c7c;
  margin-left: 0px;
}

.info_footer_center {
  width: 500px;
  margin-top: 40px;
}
.info_footer_center span {
  font-size: 24px;
}
.info_footer_center p {
  font-size: 20px;
  color: #7c7c7c;
}
