@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");

* {
  margin: 0 auto;
  padding: 0 auto;
  font-style: "Forum";
  transition: 0.3s;
}
body {
  margin: 0;
  font-family: "Forum", cursive;
}
.scrolling {
  transition: transform 0.5s ease-in-out;
}

/* header */

header {
  max-width: 70%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: "Forum";
}
.header_up {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 25px;
}
.logo_header_container {
  display: flex;
  align-items: center;
}
.logo_header_container a {
  font-size: 40px;
  margin-left: 18px;
  text-decoration: none;
  color: black;
}
.logo_header_container p {
  font-size: 40px;
  margin-left: 18px;
  text-decoration: none;
  color: black;
}
.contact_info_header {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.adress_header {
  margin: 0px;
}
.adress_header span {
  font-size: 18px;
}
.adress_header a {
  font-size: 16px;
  color: #7c7c7c;
  margin-left: 10%;
  cursor: pointer;
  text-decoration: none;
}
.adress_header a:hover {
  text-decoration: underline;
}
.phone_number_header {
  margin-left: 4px;
  margin-top: 18px;
}
.phone_number_header span {
  font-size: 20px;
  margin-left: 11px;
}
.phone_number_header p {
  font-size: 16px;
  margin-left: 30px;
}
.working_hours_header {
  display: flex;
}
.time_working_header {
  margin-left: 6px;
}
.time_working_header p {
  margin-bottom: 6px;
}
.make_appointment_header {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.make_appointment_header-btn {
  width: 160px;
  height: 40px;
  background-color: #dbc88d;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-family: Forum;
  font-weight: 400;
  cursor: pointer;
}
.make_appointment_header-btn:hover {
  background-color: #b9982a;
}
.make_appointment_header-btn a {
  color: #fff;
  text-decoration: none;
}
.make_appointment_footer a {
  color: #fff;
  text-decoration: none;
}
.make_appointment_header-call {
  color: #7c7c7c;
  text-decoration-line: underline;
  font-size: 12px;
  cursor: pointer;
  background: none;
  border: none;
}
.make_appointment_header-call:hover {
  color: #3a3939;
}
.header_hr {
  width: 90%;
  color: #7c7c7c;
}
.header_down {
  width: 90%;
  display: flex;
  align-items: center;
  margin: 25px;
}
.logo_header_container-down {
  display: flex;
  align-items: center;
  margin-left: 0px;
}
.logo_header_container-down p {
  margin-left: 12px;
  font-size: 22px;
}
.toolbar {
  display: flex;
  gap: 50px;
  margin-right: 0px;
}
.toolbar a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  position: relative;
  font-style: Forum;
}
.toolbar a:hover {
  color: black;
}
.toolbar a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.toolbar a:hover::before {
  transform: scaleX(1);
}

/* index */

.price_list {
  width: 80%;
  margin-bottom: 50px;
  border-collapse: collapse;
  opacity: 0;
  display: none;
  transition: opacity 0.5s ease, visibility 0.5s ease, margin-bottom 0.5s ease;
}

.price_list.show {
  opacity: 1;
  display: flex;
  margin-bottom: 100px;
}

.choose_is_index {
  display: flex;
  flex-direction: column;
  width: 64%;
  margin-top: 85px;
}
.cap_choose {
  margin-left: 0px;
}
.cap_choose span {
  font-size: 40px;
  font-family: Forum;
}
.content_choose {
  width: 100%;
}
.content_choose_up {
  display: flex;
  margin-top: 59px;
  align-items: center;
}
.content_choose_up img {
  margin: 0px;
}
.content_choose_up span {
  font-size: 20px;
  width: 288px;
  margin-left: 24px;
  margin-right: 7%;
}

.slider-container {
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 550px;
}

.slide {
  flex: 0 0 100%;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  justify-content: center;
}
.slide1 {
  background-image: url(img/slide1.png);
}
.slide2 {
  background-image: url(img/slide2.png);
}
.slide3 {
  background-image: url(img/slide3.png);
}
.slide4 {
  background-image: url(img/slide4.svg);
}
.slide5 {
  background-image: url(img/slide5.svg);
}
.slide p {
  max-width: 500px;
  text-align: left;
  margin-left: 100px;
  font-style: Forum;
}
.title_slide {
  font-size: 40px;
}
.content_slide {
  font-size: 24px;
}
.make_appointment_slide {
  margin-left: 100px;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  background: none;
  color: transparent;
  border: none;
  cursor: pointer;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #dbc88d;
  cursor: pointer;
}

.dot.active {
  background-color: #534c38;
}

.services_index {
  margin-top: 100px;
  width: 65%;
  min-height: 500px;
}
.service_content {
  display: flex;
  flex-wrap: wrap;
}
.cart_service {
  width: 30%;
  height: 200px;
  background-color: #f2e9cf;
  border-radius: 10px;
  border: none;
  margin-top: 36px;
  margin-left: 0px;
  display: flex;
  overflow: hidden;
}

.cart_service:hover {
  background-position: 100% 0;
}

.img_cart {
  max-height: 200px;
  margin-left: 0px;
  margin-right: 0px;
}

.content_cart {
  margin-left: 23px;
  display: grid;
  align-items: center;
}

.content_cart p {
  margin-top: 43px;
  font-family: "Forum";
  font-size: 28px;
}

.content_cart img {
  margin-left: 0px;
  cursor: pointer;
  transition: margin-left 0.3s ease;
}

.cart_service:hover .content_cart img {
  margin-left: 10px;
}

.slider_news_index {
  width: 100%;
  min-height: 620px;
  background-color: #b9e6ff;
  margin-top: 100px;
}
.title_slider_news {
  width: 65%;
  padding-top: 84px;
}
.content_slider_news {
  width: 65%;
  display: flex;
}

.block_slider_news {
  margin-top: 48px;
  margin-bottom: 30px;
  width: 256px;
  height: 292px;
  background-color: white;
  border-radius: 10px;
  border: none;
  margin-left: 0px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
}

.title_block_slider-news {
  margin: 25px;
  font-size: 16px;
  margin-bottom: 0px;
  font-weight: 600;
}
.content_block_slider-news {
  margin: 25px;
  margin-top: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}
.block_slider_news a {
  margin-left: 25px;
  margin-top: auto;
  margin-bottom: 10px;
}
.slider2 {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 400px;
}
.title_slider_news a {
  color: #7c7c7c;
  margin-left: 20px;
}
.btn_slider2 {
  background: none;
  border: none;
  cursor: pointer;
}
.btn_slider2 button {
  cursor: pointer;
}
.btn_slider2:hover {
  transform: scale(1.3);
}

.slider_choose {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 25px;
}

.big-slide img {
  width: 1100px;
  height: 600px;
}

.small-slides {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 40px;
}

.small-slide {
  width: 150px;
  height: 150px;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.small-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Сохранение пропорций изображения с обрезкой, чтобы оно полностью заполняло контейнер */
}

.small-slide.active {
  opacity: 0.7; /* Прозрачность активного маленького слайда */
}

.slider-reviews {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.rewievs_index {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 65%;
  margin-bottom: 100px;
}

.title_reviews_index {
  margin-left: 0px;
}

.cap_choose span {
  margin-left: 10px;
}

.content_reviews_index {
  display: flex;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  gap: 70px;
}

.title_reviews_index a {
  margin-left: 25px;
  color: #3a3939;
}

.content_reviews_index {
  margin-top: 15px;
  display: flex;
  height: 250px;
  margin-bottom: 50px;
  width: max-content; /* Добавлено: ширина контейнера не превышает ширину содержимого */
}

.reviews_block_index {
  width: 350px;
  height: auto;
  max-height: 230px;
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 20px;
}
.reviews_block_index p {
  margin-left: 20px;
  margin-top: 10px;
}
.rating {
  margin-top: 5px;
  margin-left: 20px;
}
.rating p {
  margin: 0px;
  max-width: 310px;
}

.star {
  background-image: url(img/star.svg);
  width: 15px;
}
.active_star {
  background-image: url(img/active_star.svg);
  width: 15px;
}

.team_section {
  width: 100%;
}
.team_section img {
  width: 100%;
}

footer {
  display: flex;
  width: 100%;
}
.info_footer {
  margin-top: 80px;
  width: 80%;
}

.map_footer {
  margin: 80px;
}

.info_footer_up {
  display: flex;
  width: 500px;
}
.number_footer {
  display: grid;
  margin-top: 60px;
  margin-left: 0px;
}
.number_footer span {
  font-size: 24px;
  margin-bottom: 20px;
  margin-left: 0px;
}
.number_footer p {
  font-size: 18px;
  color: #7c7c7c;
  margin-left: 0px;
}

.working_footer {
  margin-top: 60px;
  margin-right: 0px;
}
.working_footer span {
  font-size: 24px;
  margin-bottom: 20px;
  margin-left: 0px;
}
.content_working_footer {
  margin-top: 20px;
}
.content_working_footer p {
  font-size: 18px;
  color: #7c7c7c;
  margin-left: 0px;
}

.info_footer_center {
  width: 500px;
  margin-top: 40px;
}
.info_footer_center span {
  font-size: 24px;
}
.info_footer_center p {
  font-size: 20px;
  color: #7c7c7c;
}
.btn_container_footer {
  display: flex;
  margin-top: 20px;
}

.writing_reviews {
  display: grid;
}
.mail_footer {
  margin-top: 20px;
  color: #7c7c7c;
  font-size: 18px;
}
.record_appointment_container {
  margin-left: 4%;
}

.make_appointment_footer {
  margin-left: 0px;
}

.cap_choose_footer {
  display: flex;
}
.writing_reviews {
  margin-left: 24%;
}

/* order */
.order_block {
  width: 40%;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.order_block-content {
  padding: 60px;
  display: grid;
}
.order_block-header {
  display: flex;
  width: 100%;
}
.order_block-header p {
  margin-left: 0px;
  font-size: 18px;
}
.order_block-header span {
  margin-right: 0px;
  font-size: 18px;
}

.write_info_order {
  display: grid;
  width: 100%;
  margin-top: 60px;
}
.service_block_order,
.category_block_order {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.service_block_order div {
  display: flex;
  width: 100%;
  margin-top: 10px;
}
.service_block_order p {
  margin-left: 0px;
  font-size: 18px;
}
.service_block_order select {
  margin-right: 0px;
  border-radius: 10px;
  height: 30px;
  border: none;
  background-color: #ececec80;
}
.phonenumber_block_order {
  display: flex;
  width: 100%;
  margin-top: 10px;
}
.phonenumber_block_order p {
  margin-left: 0px;
  font-size: 18px;
}
.phonenumber_block_order input {
  margin-right: 0px;
  border-radius: 10px;
  width: 42.5%;
  height: 30px;
  border: none;
  background-color: #ececec80;
}
.name_block_order {
  display: flex;
  width: 100%;
  margin-top: 10px;
}
.name_block_order p {
  margin-left: 0px;
  font-size: 18px;
}
.name_block_order input {
  margin-right: 0px;
  border-radius: 10px;
  width: 42.5%;
  height: 30px;
  border: none;
  background-color: #ececec80;
}

.hr {
  width: 100%;
  margin-top: 60px;
  color: black;
}
.setup_btn_order-container {
  display: flex;
  margin-top: 13px;
  width: 100%;
}
.setup_btn_order-container p {
  margin-left: 0px;
  max-width: 260px;
  font-size: 14px;
}
.setup_btn_order-container button {
  margin-right: 0px;
  width: 145px;
  height: 30px;
  border-radius: 10px;
  background-color: #ded2a9;
  border: none;
  cursor: pointer;
}
.setup_btn_order-container button:hover {
  background-color: #b9982a;
}
.margin_top {
  margin-top: 30px;
}

.raiting_block_reviews {
  width: 100%;
  display: flex;
  margin-top: 10px;
}
.raiting_block_reviews p {
  margin-left: 0px;
  font-size: 14px;
}
.raiting_block_reviews select {
  margin-right: 0px;
  border-radius: 10px;
  width: 42.5%;
  height: 30px;
  border: none;
  background-color: #ececec80;
}
.comment_block_reviews {
  width: 100%;
  display: flex;
  margin-top: 10px;
}
.comment_block_reviews p {
  margin-left: 0px;
  font-size: 14px;
}
.comment_block_reviews textarea {
  margin-right: 0px;
  border-radius: 10px;
  background-color: #ececec80;
  width: 42.5%;
  height: 100px;
}

.reviews_block {
  width: 40%;
  height: 650px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.select_doctor_reviews {
  width: 42.5%;
  background-color: #ececec80;
}
.cap_choose_footer img {
  margin-right: 0px;
  margin-left: 24%;
}

@media only screen and (max-width: 1500px) {
  .time_working_header p {
    font-size: 20px;
  }
  .order_block {
    width: 60%;
  }

  .logo_header_container a,
  .logo_header_container p {
    font-size: 24px;
    /* Дополнительные стили для логотипа на маленьких экранах */
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  .cart_service {
    width: 40%;
  }
  .small-slides {
    display: none;
  }
  .big-slide img {
    width: 100%;
    height: 600px;
  }
  .cap_choose_footer img {
    margin-right: 0px;
    margin-left: auto;
  }
}
@media only screen and (max-width: 1200px) {
  .cart_service {
    width: 45%;
  }

  .working_hours_header {
    display: none;
  }
  .phone_number_header {
    margin-left: 6px;
    margin-bottom: 10px;
  }
  .header_down {
    flex-direction: column;
  }
  .logo_header_container-down {
    display: none;
  }
  .toolbar {
    margin: auto;
    gap: 8px;
  }
  .cap_choose_footer img {
    margin-left: auto;
  }
}
@media only screen and (max-width: 1150px) {
  .content_cart p {
    font-size: 18px;
  }
  .map_footer {
    margin: 20px;
  }
  .big-slide img {
    height: 300px;
  }
  .content_choose_up span {
    font-size: 18px;
  }
}
@media only screen and (max-width: 910px) {
  .service_content {
    flex-direction: column;
  }
  .order_block {
    height: auto;
  }
  .cart_service {
    margin-left: auto;
    width: 60%;
  }
  .cap_choose {
    display: flex;
    margin-left: auto;
  }
  .cap_choose img {
    margin-right: 0px;
  }
  .title_slider_news a {
    margin-left: 40%;
  }
  .reviews_block_index {
    width: 220px;
  }
  .rating p {
    margin-right: 10px;
  }
  .title_reviews_index {
    margin-left: auto;
    margin-bottom: 20px;
  }
  .service_block_order,
  .phonenumber_block_order,
  .name_block_order,
  .setup_btn_order-container,
  .raiting_block_reviews,
  .comment_block_reviews,
  .service_block_order div {
    flex-direction: column;
  }
  .order_block {
    width: 90%;
  }
  .order_block-header p,
  .service_block_order p,
  .phonenumber_block_order p,
  .name_block_order p,
  .setup_btn_order-container p,
  .raiting_block_reviews p,
  .comment_block_reviews p {
    margin-left: auto;
  }
  .service_block_order select,
  .phonenumber_block_order input,
  .name_block_order input,
  .setup_btn_order-container button,
  .raiting_block_reviews select,
  .comment_block_reviews textarea,
  .setup_btn_order-container button {
    margin-right: auto;
    margin-top: 10px;
  }
  .phonenumber_block_order input,
  .name_block_order input {
    width: 80%;
  }
  .setup_btn_order-container button {
    margin-bottom: 10px;
  }

  .reviews_block {
    width: 80%;
    height: auto;
  }
}
@media only screen and (max-width: 850px) {
  .info_footer {
    margin-bottom: 200px;
  }
  .map_footer {
    display: none;
  }
  .content_choose_up {
    flex-direction: column;
  }
  .content_choose_up {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 700px) {
  .adress_header {
    display: none;
  }
  .phone_number_header {
    display: none;
  }
  .header_up {
    flex-direction: column;
  }
  .make_appointment_header {
    margin-top: 20px;
  }
  .cart_service {
    width: 80%;
  }
  .info_footer_up {
    flex-direction: column;
  }
  .number_footer {
    margin-left: auto;
  }
  .working_footer {
    margin-right: auto;
    margin-top: 30px;
  }
  .info_footer_center {
    display: flex;
    flex-direction: column;
  }
  .btn_container_footer {
    flex-direction: column;
  }
  .writing_reviews {
    margin-left: auto;
  }
  .mail_footer {
    margin-top: 10px;
  }
  .record_appointment_container {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .make_appointment_footer {
    margin-left: auto;
  }
  .toolbar {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .slider_one_index {
    display: none;
  }
  .info_footer_center {
    width: auto;
  }
  .info_footer_up {
    width: auto;
  }
  .img_cart {
    display: none;
  }
  .content_cart {
    margin: 0 auto;
    text-align: center;
  }
  .slider_choose {
    display: none;
  }
  .title_slider_news a {
    margin-left: 20%;
  }
  .adaptive_sixteen-index {
    display: none;
  }

  .service_block_order select {
    width: 80%;
  }
  .order_block-content {
    padding: 10px;
  }
}

@media only screen and (max-width: 470px) {
  .btn_slider2 {
    display: none;
  }
}
